.clients {
  padding-top: 40px;
  background-color: #f0f1f2;
}

.clients__list {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 16px;

  @media (min-width: $width-tablet) {
    gap: 0;
    grid-template-columns: repeat(4, auto);
  }

  @media (min-width: $width-tablet-h) {
    gap: 60px;
  }
}

.clients__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__list-item-img {

}

.clients__list-item--semrush {
  @media (min-width: $width-tablet) {
    img {
      width: 282px;
      height: 74px;
    }
  }
}


.clients__list-item--ahrefs {
  @media (min-width: $width-tablet) {
    img {
      width: 217px;
      height: 47px;
    }
  }
}

.clients__list-item--moz {
  @media (min-width: $width-tablet) {
    img {
      width: 152px;
      height: 152px;
    }
  }
}

.clients__list-item--majestic {
  img {
    margin-top: -20px;
    width: 170px;
    height: auto;
  }

  @media (min-width: $width-tablet) {
    img {
      margin-top: -35px;
      width: 218px;
      height: 96px;
    }
  }
}
