.publish-section {
  padding-top: 60px;
  padding-bottom: 60px;

  h2 {
    margin-bottom: 24px;

    @media (min-width: $width-tablet) {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $width-tablet-h) {
    padding-top: 135px;
    padding-bottom: 115px;
  }

  .container {
    max-width: 1571px;
  }
}

.publish-section__button-publica {
  width: 100%;
  max-width: 423px;
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 1rem;

  @media (min-width: $width-mobile-h) {
    white-space: nowrap;
    font-size: rem(20px);
  }
}
