.regions-section {
  background: var(--color-white);
  padding-top: 40px;
  padding-bottom: 60px;

  h2 + p {
    font-weight: 500;
    font-size: rem(16px);
    line-height: 30px;
  }

  @media (min-width: $width-tablet) {
    padding-top: 53px;
    padding-bottom: 128px;
  }
}

.regions-section__title {
  margin: 0 auto 0;
  max-width: 320px;

  @media (min-width: $width-tablet) {
    max-width: 100%;
  }
}

.regions-section__text {
  text-transform: capitalize;
  color: var(--text-black-color);
  max-width: 305px;
  margin: 0 auto 45px;

  @media (min-width: $width-tablet) {
    margin-bottom: 18px;
    max-width: 580px;
  }
}

.regions-cards {
  background-color: #d3d3d3;
  padding: 1px;
  max-width: 388px;
  margin: 0 auto 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;

  @media (min-width: 420px) {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 74px;
  }

  @media (min-width: 768px) {
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.region-card {
  background: var(--color-white);
  padding: 10px;
  position: relative;

  @media (min-width: 400px) {
    padding: 14px;
  }

  &:hover {
    background-color: var(--red-700);
    color: var(--color-white);

    .region-card__link {
      color: var(--color-white);

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.58984 16.58L13.1698 12L8.58984 7.41L9.99984 6L15.9998 12L9.99984 18L8.58984 16.58Z' fill='white'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

.region-card--m-hiddend {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.region-card__img {
  margin-bottom: 8px;
  width: 40px;
  height: 40px;

  @media (min-width: 400px) {
    width: 51px;
    height: 51px;
  }
}

.region-card__title {
  font-size: rem(14px);
  line-height: 19px;
  margin-bottom: 2px;

  @media (min-width: 400px) {
    font-size: rem(16px);
    line-height: 19px;
    margin-bottom: 9px;
  }
}

.region-card__link {
  color: #666666;
  font-size: rem(12px);
  line-height: 14px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    display: block;
    position: relative;
    bottom: -2px;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.58984 16.58L13.1698 12L8.58984 7.41L9.99984 6L15.9998 12L9.99984 18L8.58984 16.58Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    transition: transform 0.2s ease 0s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
