mixin faqSection()
  section.faq-section.section(id="FAQ")
    .container
      h2.faq-section__title Frequently Asked Questions
      p.faq-section__text It was popularised with the release sheets containing passages and more recently with software.
      .faq-section__faq-list.faq-list
        +faq()
        +faq()
        +faq()
        +faq()
        +faq()
        +faq()
        +faq()
        +faq()
