mixin text-section()
  .text-section
    .container
      h3 eiusmod tempor incididunt ut
      p Vivamus vestibulum, nulla in efficitur feugiat, leo sem pharetra felis, vel hendrerit urna dolor vel orci. Nullam finibus nisl nec dolor suscipit, et rhoncus odio pretium. Aenean eu nisl imperdietVivamus vestibulum, nulla in efficitur feugiat, leo sem pharetra felis, vel hendrerit urna dolor vel orci. Nullam finibus nisl nec dolor suscipit, et rhoncus odio pretium. Aenean eu nisl imperdiet
      ul
        li Nullam finibus nisl nec dolor suscipit, et rhoncus odio pretium
        li Nullam finibus nisl nec dolor suscipit, felis, vel hendrerit urna dolor vel orci. Nullam finibus nisl
        li Nullam finibus nisl necfelis, vel hendrerit urna dolor vel orci. Nullam finibus nisl
        li Nullam finibus nisl nec dolor suscipit, et felis, vel hendrerit urna dolor vel orci. Nullam finibus nisl
        li Nullam finibus nisl nec dolor suscipit, et rhoncus odio pretium
      h3 VIVamus Vestibulum Nula in
      p Vivamus vestibulum, nulla in efficitur feugiat, leo sem pharetra felis, vel hendrerit urna dolor vel orci. Nullam finibus nisl nec dolor suscipit, et rhoncus odio pretium. Aenean eu nisl imperdietVivamus vestibulum, nulla in efficitur feugiat, leo sem pharetra felis, vel hendrerit urna dolor vel orci. Nullam finibus nisl nec dolor suscipit, et rhoncus odio pretium. Aenean eu nisl imperdiet
