.form-select-price__header {
  padding-bottom: 0;
}

.form-select-price__contnet {
  min-width: 270px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 22px;

  @media (min-width: $width-tablet) {
    width: 338px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

h3.form-select-price__title {
  margin-bottom: 8px;
}

.form-selet-price__input-wrap {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  &::after {
    user-select: none;
    content: "$";
    width: auto;
    display: block;
    position: absolute;
    top: 34px;
    right: 12px;
  }

  label {
    cursor: pointer;
    margin-bottom: 0.5rem;
  }

  input [type="number"] {
    appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
  }

  input {
    padding: 9px 27px 8px 12px;
    font-family: $font-family;
    color: var(--text-color);
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 100%;
    max-width: 100%;
    width: 100%;
    background: #ffffff;
    outline: 0;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
  }
}
