mixin contact-feat-list()
  -
    var featList = [
      {
        modif: "prices",
        text: "Competitive Prices",
      },
      {
        modif: "premium",
        text: "Premium Audience"
      },
      {
        modif: "traffic",
        text: "Quick Traffic"
      },
      {
        modif: "target",
        text: "Target Audience",
      },
      {
        modif: "brand",
        text: "Branding & Leads",
      }
    ]

  ul.contact-feat-list(class!=attributes.class)
    each item in featList
      li.contact-feat-list__item(class=`contact-feat-list__item--${item.modif}`)
        +icon(`feat-${item.modif}` , 51, 51).contact-feat-list__item-icon
        p= item.text
